<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chinese Checker</title>
  <meta name="description" content="Chinese Checker game">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="components/angular/angular.js"></script>
  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="messageService.js"></script>
  <!-- for local testing purposes ! -->
  <script src="http://yoav-zibin.github.io/emulator/platform.js"></script>
  <style>
  	.boxShape {
    	border : 2px solid #a1a1a1;
   	 	padding : 10px 10px;
   		width : 17px;
   		border-radius: 50px;
    	text-align: center; 
	}
  </style>
</head>
<body ng-controller="Ctrl">
  <textarea ng-model="jsonState" rows=10 cols=100 readonly></textarea>
  
  <div style="position:relative; border: 1px solid ;width :625px; height:625px">
  	<div ng-repeat="row in board track by $index">
        <div ng-repeat="cell in row track by $index" ng-click="yo(board.indexOf(row),$index)" ng-style="{'position':'absolute','top':setPagePositionTop(board.indexOf(row), $index), 'left':setPagePosition($index, board.indexOf(row)) }" ng-class="{'boxShape': cell  }" >       
        	{{ cell }} 
        </div>
    </div>
  </div>
  
  <textarea rows=10 cols=100 readonly>
    All operations in GameApi:
    [
      {setTurn: {turnIndex: 1}},
      {set: {key: "k", value: "v"}},
      {endMatch: {endMatchScores: [42, -2]}},
      {set: {key: "k", value: "v", visibleToPlayerIndexes: [0]}},
      {setVisibility: {key: "k", visibleToPlayerIndexes: null}},
      {shuffle: {keys: ["k1", "k2"]}},
      {setRandomInteger: {key: "k", from: 0, to: 6}},
      {"delete": {key: "k"}}
    ]
  </textarea>
  <textarea ng-model="move" rows=10 cols=55></textarea>
  <br>
  <button ng-click="makeMove()">Make move</button>
</body>
</html>
