body {
  background: #FCFAF2;
  margin: 0;
  padding: 0;
  width: 625px;
  height: 625px;
  overflow: hidden;
  position: fixed!important;
}

.boxShape {
    	border : 0.1px solid #a1a1a1;
   	 	padding : 5px 5px;
   		width : 15px;
   		height : 15px;
   		border-radius: 50px;
   		opacity: 1;
    	text-align: center; 
	}
.boxGreen {
		opacity: 1;
		-moz-box-shadow: 0 0 7px 5px #a1fa1a;
		-webkit-box-shadow: 0 0 7px 5px #a1fa1a;
		box-shadow: 0px 0px 7px 5px #a1fa1a;
	}
	
.checkerShapeX {
    width : 17px;
    height : 17px;
    border-radius: 50px;
    position: relative;
    //background: blue;
    background: -webkit-radial-gradient(blue, #0000ef, black); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(blue, #0000ef, black); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(blue, #0000ef, black); /* For Firefox 3.6 to 15 */
    background: radial-gradient(blue, #0000ef, black); /* Standard syntax (must be last) */
    border : 1px solid ;
    z-index: 5;
    opacity: 1;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}
.checkerShapeO {
    width : 17px;
    height : 17px;
    border-radius: 50px;
    position: relative;
    background: -webkit-radial-gradient(red, #df0000, black); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, #df0000, black); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, #df0000, black); /* For Firefox 3.6 to 15 */
    background: radial-gradient(red, #df0000, black); /* Standard syntax (must be last) */
    border : 1px solid ;
    z-index: 5;
    opacity: 1;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}


#board {
  width: 100%;
}

#title {
  font-family: 'Cinzel', serif;
}

#button_panel, #current_player_id {
  font-family: 'Raleway', sans-serif;
}

.background_image {
  max-width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
}

.isEmpty, .isGreenMan, .isRedMan {
  max-width: 100%;
  position: absolute;
  z-index: 20;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.canSelect:hover {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
}

.jumped {
  z-index: 25;  /* the jumping one show above */
}

/****************************************
Animation
****************************************/

.move_up_left {
  -webkit-animation: move_up_left 0.4s linear forwards;
  animation: move_up_left 0.4s linear forwards;
}

.move_up_right {
  -webkit-animation: move_up_right 0.4s linear forwards;
  animation: move_up_right 0.4s linear forwards;
}

.move_left {
  -webkit-animation: move_left 0.4s linear forwards;
  animation: move_up_left 0.4s linear forwards;
}

.move_right {
  -webkit-animation: move_right 0.4s linear forwards;
  animation: move_up_right 0.4s linear forwards;
}

.move_down_left {
  -webkit-animation: move_down_left 0.4s linear forwards;
  animation: move_down_left 0.4s linear forwards;
}

.move_down_right {
  -webkit-animation: move_down_right 0.4s linear forwards;
  animation: move_down_right 0.4s linear forwards;
}

.jump_up_left {
  -webkit-animation: jump_up_left 0.4s linear forwards;
  animation: jump_up_left 0.4s linear forwards;
}

.jump_up_right {
  -webkit-animation: jump_up_right 0.4s linear forwards;
  animation: jump_up_right 0.4s linear forwards;
}

.jump_left {
  -webkit-animation: jump_left 0.4s linear forwards;
  animation: jump_up_left 0.4s linear forwards;
}

.jump_right {
  -webkit-animation: jump_right 0.4s linear forwards;
  animation: jump_up_right 0.4s linear forwards;
}

.jump_down_left {
  -webkit-animation: jump_down_left 0.4s linear forwards;
  animation: jump_down_left 0.4s linear forwards;
}

.jump_down_right {
  -webkit-animation: jump_down_right 0.4s linear forwards;
  animation: jump_down_right 0.4s linear forwards;
}

/****************************************
Simple move key frames
****************************************/

/*move up left*/
@-webkit-keyframes move_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: -113%;
    left: -63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -226%;
    left: -126%
  }
}
/*move up left*/
@keyframes move_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: -113%;
    left: -63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -226%;
    left: -126%
  }
}

/*move up right*/
@-webkit-keyframes move_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: -113%;
    left: 63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -226%;
    left: 126%
  }
}
/*move up right*/
@keyframes move_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: -113%;
    left: 63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -226%;
    left: 126%
  }
}

/*move left*/
@-webkit-keyframes move_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 0%;
    left: -130%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: -260%
  }
}
/*move left*/
@keyframes move_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 0%;
    left: -130%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: -260%
  }
}

/*move right*/
@-webkit-keyframes move_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 0%;
    left: 130%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 260%
  }
}
/*move right*/
@keyframes move_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 0%;
    left: 130%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 260%
  }
}

/*move down left*/
@-webkit-keyframes move_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 113%;
    left: -63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 226%;
    left: -126%
  }
}
/*move down left*/
@keyframes move_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 113%;
    left: -63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 226%;
    left: -126%
  }
}

/*move down right*/
@-webkit-keyframes move_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 113%;
    left: 63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 226%;
    left: 126%
  }

}
/*move down right*/
@keyframes move_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%;
    height: 140%;
    top: 113%;
    left: 63%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 226%;
    left: 126%
  }

}

/****************************************
Jump move key frames
****************************************/

/*move up left*/
@-webkit-keyframes jump_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: -225%;
    left: -125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -450%;
    left: -250%
  }
}
/*move up left*/
@keyframes jump_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: -225%;
    left: -125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -450%;
    left: -250%
  }
}

/*move up right*/
@-webkit-keyframes jump_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: -225%;
    left: 125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -450%;
    left: 250%
  }
}
/*move up right*/
@keyframes jump_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: -225%;
    left: 125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: -450%;
    left: 250%
  }
}

/*move left*/
@-webkit-keyframes jump_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 0%;
    left: -250%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: -500%
  }
}
/*move left*/
@keyframes jump_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 0%;
    left: -250%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: -500%
  }
}

/*move right*/
@-webkit-keyframes jump_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 0%;
    left: 250%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 500%
  }
}
/*move right*/
@keyframes jump_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 0%;
    left: 250%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 500%
  }
}

/*move down left*/
@-webkit-keyframes jump_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 225%;
    left: -125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 450%;
    left: -250%
  }
}
/*move down left*/
@keyframes jump_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 225%;
    left: -125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 450%;
    left: -250%
  }
}

/*move down right*/
@-webkit-keyframes jump_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 225%;
    left: 125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 450%;
    left: 250%
  }
}
/*move down right*/
@keyframes jump_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 160%;
    height: 160%;
    top: 225%;
    left: 125%
  }
  100% {
    width: 100%;
    height: 100%;
    top: 450%;
    left: 250%
  }
}
